@media screen and (max-width: 1024px) {
  .about {
    gap: 3rem;
  }
  .Company {
    gap: 2rem;
  }
  .wrapper3 {
    gap: 1rem;
  }
  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    font-size: 0.7rem;
    width: 200px;
    color: var(--GrayishBlue);
    line-height: 2;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .container1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .wrapper {
    background-image: url(../images/bg-header-mobile.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
  }
  .first-img img {
    width: 60px;
    height: 60px;
  }
  .header h1 {
    font-size: 2rem;
    width: 300px;
    opacity: 9;
  }
  .header p {
    font-size: 0.8rem;
    width: 245px;
    text-align: center;
    line-height: 1.6;
  }
  .header-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
  }
  .button1 {
    width: 200px;
    height: 35px;
    font-size: 0.8rem;
  }
  .button2 {
    width: 200px;
    height: 35px;
    font-size: 0.8rem;
  }
  .container2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .wrapper2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .wrapper2 h2 {
    font-size: 1.7rem;
    width: 250px;
    text-align: center;
    opacity: 9;
  }
  .wrapper2 p {
    font-size: 0.8rem;
    width: 250px;
    text-align: center;
    line-height: 1.6;
  }
  .box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .computer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .computer img {
    width: 80%;
    height: 80%;
  }
  .text1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .text1 h3 {
    font-size: 1.8rem;
    width: 250px;
    text-align: center;
    opacity: 9;
  }
  .text1 p {
    font-size: 1rem;
    width: 300px;
    text-align: center;
    line-height: 1.6;
  }
  .Access {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: -1rem;
  }
  .Access h2 {
    font-size: 1.7rem;
    width: 240px;
    text-align: center;
    opacity: 9;
  }
  .Access p {
    font-size: 0.8rem;
    width: 250px;
    text-align: center;
    line-height: 1.6;
  }
  .devices {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .devices img {
    width: 90%;
    height: 90%;
  }
  .Super h2 {
    font-size: 1.7rem;
    width: 250px;
    text-align: center;
    opacity: 9;
  }
  .Super p {
    font-size: 0.8rem;
    line-height: 1.6;
    width: 250px;
    text-align: center;
  }
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .blacklist img {
    width: 40px;
    height: 40px;
  }
  .blacklist h3 {
    text-align: center;
    opacity: 9;
    font-size: 1.7rem;
    width: 300px;
    color: var(--DarkGrayishBlue);
  }
  .blacklist p {
    text-align: center;
    font-size: 0.8rem;
    width: 250px;
    color: var(--GrayishBlue);
  }
  .snippets img {
    width: 40px;
    height: 40px;
  }
    .snippets h3 {
        text-align: center;
        opacity: 9;
        font-size: 1.7rem;
        width: 300px;
        color: var(--DarkGrayishBlue);
    }
    .snippets p {
        text-align: center;
        font-size: 0.8rem;
        width: 250px;
        color: var(--GrayishBlue);
    }
    .sneak img{
        width: 45px;
        height: 30px;
    }
    .sneak h3{
        text-align: center;
        opacity: 9;
        font-size: 1.7rem;
        width: 300px;
        color: var(--DarkGrayishBlue);
    }
    .sneak p{
        text-align: center;
        font-size: 0.8rem;
        width: 250px;
        color: var(--GrayishBlue);
    }
    .Company{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;  
    }
    .clipboard h2{
        font-size: 1.7rem;
        width: 280px;
        text-align: center;
        opacity: 9;
    }
    .clipboard p{
        font-size: 0.9rem;
        width: 275px;
        text-align: center;
        line-height: 1.6;
    }
    .footer-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-top: 1rem;
    }
    .container3{
        width: 100%;
    }
    .wrapper3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .footer-img{
        padding-right: 8rem;
        padding-bottom: 1rem;
    }
    .footer-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9rem;
        width: 200px;
        color: var(--DarkGrayishBlue);
        gap: 1rem;
        opacity: 4;
    }
    .icons{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 1rem;
    }
}
@media screen and (max-width: 313px) {
    .container1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
    .wrapper {
      background-image: url(../images/bg-header-mobile.png);
      background-repeat: no-repeat, no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6rem;
    }
    .first-img img {
      width: 60px;
      height: 60px;
    }
    .header h1 {
      font-size: 1.75rem;
      width: 280px;
      opacity: 9;
    }
    .header p {
      font-size: 0.8rem;
      width: 245px;
      text-align: center;
      line-height: 1.6;
    }
}